<div id="document-bounding-boxes-selector-template">
    <p>We detected texts in your image. Now you have to select for each text that whether it's a:</p>
    <ul>
        <li>Static bounding box</li>
        <li>Dynamic bounding box</li>
        <li>Unique bounding box</li>
        <li>Or it's neither of all (probably an error)</li>
    </ul>

    <div id="btns">
        <input type="button" class="submit-btn" value="Static" onclick="markBoundingBox('SBBs')">
        <input type="button" class="submit-btn" value="Dynamic" onclick="markBoundingBox('DBBs')">
        <input type="button" class="submit-btn" value="Unique" onclick="markBoundingBox('UBBs')">
        <input type="button" class="submit-btn" value="It's not an text" onclick="markBoundingBox('error')">
    </div>

    <form id="form" method="POST" action="/bbs-submit">
        <input type="hidden" name="img-name" value='{{ img["name"] | safe }}'>
        <input id="form-objs-input" type="hidden" name="objects-data" value="{{ objs }}">
        <input id="form-json-input" name="bounding-boxes-data" type="hidden" value="">
    </form>
</div>

<div id="canvas-div">
    <canvas id="canvas" height="400" width="400"></canvas>
</div>

<!-- Printing bounding boxes & image path -->
<{{ 'script' }}>
    
    const IMG_PATH = '{{ url_for('get_uploaded_img', filename=img['name']) }}'
    const BOUNDING_BOXES = {{ bounding_boxes | safe }}
</{{ 'script' }}>

<script>
    // Some constants
    const CANVAS_WIDTH = window.innerWidth * 0.9
    const CANVAS_HEIGHT = 700

    let imageObj
    let objectsScaleFactor
    let objectsLeftOffset
    let objectsTopOffset

    // Declaring canvas
    const CANVAS = new fabric.StaticCanvas('canvas', {
        backgroundColor: 'rgba(255, 255, 255, 0.3)',
        width: CANVAS_WIDTH,
        height: CANVAS_HEIGHT
    })

    // Adding image to canvas
    fabric.Image.fromURL(IMG_PATH, function (img) {
        imageObj = img

        // Calculations to fit image in canvas w.r.t aspect ratio
        objectsScaleFactor = Math.min(
            CANVAS_WIDTH / img.width,
            CANVAS_HEIGHT / img.height
        )
        // To center image & bounding boxes
        objectsLeftOffset = (CANVAS_WIDTH / 2) - (img.width * objectsScaleFactor / 2)
        objectsTopOffset = (CANVAS_HEIGHT / 2) - (img.height * objectsScaleFactor / 2)

        // Creating the image
        CANVAS.add(img.set({
            // opacity: 0.5,
            left: objectsLeftOffset,
            top: objectsTopOffset,
            scaleX: objectsScaleFactor,
            scaleY: objectsScaleFactor
        }))
    })

    // Adding bounding boxes to canvas
    function markBoundingBox(option) {
        if (option != 'error')
            addBBToFinalBBs(nthBB, option)

        CANVAS.remove(BBRect)
        BBRect = undefined

        nthBB++
        if (nthBB >= BOUNDING_BOXES.length) {
            document.getElementById('form-json-input').value = JSON.stringify(finalBBs)
            document.getElementById('form').submit()
            return
        }

        showBoundingBoxOnCanvas(nthBB)
    }
    function addBBToFinalBBs(ith, type) {
        finalBBs[type].push(JSON.stringify(BOUNDING_BOXES[ith]))
    }

    function showBoundingBoxOnCanvas(ith) {
        bb = BOUNDING_BOXES[ith]

        BBRect = new fabric.Rect({
            left: objectsLeftOffset + (bb['pos'][0] * objectsScaleFactor),
            top: objectsTopOffset + (bb['pos'][1] * objectsScaleFactor),
            width: bb['size'][0] * objectsScaleFactor,
            height: bb['size'][1] * objectsScaleFactor,

            fill: 'transparent',
            stroke: 'red',
            strokeWidth: 2,
        })
        CANVAS.add(BBRect)
    }

    let BBRect
    let nthBB = 0
    let finalBBs = {
        'SBBs': [],
        'DBBs': [],
        'UBBs': []
    }

    setTimeout(() => {
        showBoundingBoxOnCanvas(nthBB)
    }, 1000)
</script>
